* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body, html {
    height: 100%;
    font-family: sans-serif;
}

.tablink {
    background-color:#dfe6e9 ;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 2px;
    width: 25%;
    transition: .3s;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 300px;;
}

.tablink:hover {
    background-color: #b2bec3;
    transition: .3s;
}

.tabContent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#restaurants {background-color: #a29bfe;}
#bars {background-color: #74b9ff;}
#supermarkets {background-color: #81ecec;}
#coffee {background-color: #fab1a0;}



#map {
    height: 400px;
    width: 60%;
    margin-top: 20px;
    float: left;
}


