* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/*--------------------------------------*/
/*-               NAV-BAR              -*/
/*--------------------------------------*/

.main-nav-wrapper {
    width: 100%;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 84, 164);
    z-index: 1;
}

.main-nav {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav img {
    height: 80px;
}

.main-nav-links a{
    margin-right: 30px;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(207, 207, 207);
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 2px;
    transition: all .3s ease-in-out;
    transform: scale(0, 1)
}

.main-nav-links ul {
    display: inline-block;
}
.main-nav-links a:hover {
    transform: scale(1 ,1);
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
}

.visible-links li {
    list-style-type: none;
    display: inline-block !important
}

ul#alinks.visible-links {
    display: inline-block
}

.responsive-menu {
    display: none;
}

/*--------------------------------------*/
/*-          CONTENT CONTAINER         -*/
/*--------------------------------------*/

.main-content-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 150px;
    background-color: rgb(243, 243, 243);
    height: auto;
}
.main-content-container a {
    text-decoration: none;
}

/*--------------------------------------*/
/*-                NEWS                -*/
/*--------------------------------------*/

.headlines {
    font-size: 380%;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.news-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

/*--------------------------------------*/
/*-                TEAMS               -*/
/*--------------------------------------*/

.team-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(5, 1fr);
}

.selectedTeamPlayersContainer {
    width: 900px;
    padding: 20px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.selected-team-wrapper {
    background-color: rgba(0, 0, 0, 0.384);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    /* display: none; */
}

.selectedTeamPlayersList {
    padding: 20px;
    background-color: rgb(224, 224, 224);
    overflow: scroll;
    height: 70vh;
    position: relative;
    top: 50%;
    left: 50%;
    width: 900px;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 5px 3px -2px, rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
}

/*--------------------------------------*/
/*-              PLAYERS               -*/
/*--------------------------------------*/

.player-attributes-container {
    display: flex;
    width: 600px;
}

.player-attributes-children {
    width: 80px;
}

.player-attributes-children.team {
    width: 200px;
}

.player-profile-wrapper {
    background-color: rgba(0, 0, 0, 0.384);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.player-profile-container {
    width: 900px;
    padding: 50px 50px 30px 50px;
    background-color: rgb(224, 224, 224);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.player-profile-container a {
    text-decoration: none;
}
.player-profile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-name-tag {
    background-color: rgb(209, 209, 209);
}

.player-profile-top iframe {
    height: 300px;
    width: 500px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.player-profile-top-middle {
    background-color: rgb(233, 233, 233);
    align-self: flex-end;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    padding-bottom: 5px;
}

.player-profile-bottom {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    margin-top: 20px;
}
.player-profile-bottom ul {
    padding-top: 0;
}

.player-profile-categories {
    background-color: rgb(0, 84, 164);
}

.player-profile-categories span {
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

/*--------------------------------------*/
/*-              SEARCH BAR            -*/
/*--------------------------------------*/

.search-bar-container{
    width: 100%;
    margin-bottom: 20px
}

.search-bar-container form {
    display: flex;
    justify-content: center;
}
.search-bar-container form input {
    width: 600px;
    height: 40px;
    font-size: 130%;
    letter-spacing: 1px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: rgb(243, 243, 243);
}

