body {
    background-color: rgb(212, 212, 212);
}

.clearfix { 
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 600%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(0, 0, 0);
    margin: 1em 0;
    padding: 0;
}

h2 {
    padding-top: 0px;
    margin-top: 0px;
    font-style: italic;
  
}

.classifields {
    border: 1px solid grey;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row-1 {
    display: table-cell;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-color: rgb(241, 241, 241);
}

/*----------- SPORTS SECTION ---------*/

.sports {
    width: 385px;
    float: left;
    padding: 10px;
    border: 1px
}

.sports img{
    margin: 0px 10px 10px 0;
    width: 200px;
    float: left;
}

.sports p {
    display: inline;
}

/*----------- HEALTH SECTION ---------*/


.health {
    float: left;
    width: 385px;
    padding: 10px;
}

.health img {
    padding: 0px 10px 10px 0;
    width: 45%;
    float: left;
}

.health p {
    display: inline;
}


/*----------- AGRICULTURE SECTION ---------*/


.agriculture {
    float: left;
    width: 385px;
}
.agriculture h2 {
    text-align: center;
}

.agriculture img {
    float: right;
    width: 60%;
}

.agriculture p {
    display: inline;
    text-align: left;
}


