* {
    box-sizing: border-box;
    font-size: 0px;
}
.super-class {
    width: 375px;
}

h1 {
    font-size: 20px;
}

.pink-box {
    background-color: #F5C6D6;
    border: 5px solid white;
    width: 300px;
    height: 50px
}
.purple-box{

    background-color: #EE2E84;
    width: 150px;
    height: 50px;
    border: 5px solid white;
}

.blue-box {
    background-color: #85CFD8;
    width: 300px;
    height: 50px;
    border: 5px solid white;
}

.green-box {
    background-color: #8DC63F;
    width: 200px; 
    height: 50px;
    border: 5px solid white;
}
.orange-box {
    background-color: #E76E34;
    width: 100px;
    height: 50px;
    border: 5px solid white;
}

@media  (max-width: 768px) {
    .super-class {
        width: 800px;
    }
    
    h1 {
        font-size: 30px;
        
    }
    /*---------- ROW 1 ----------*/
    
    .pink-box {
        width: 600px;
        height: 50px;
        border: 2px solid white;
    }
    
    /*---------- ROW 2 ----------*/
    
    .purple-box{
        width: 600px;
        height: 50px;
        border: 2px solid white;
    }
    
    /*---------- ROW 3 ----------*/
    
    .blue-box {
        width: 600px;
        height: 50px;
        border: 2px solid white;
    }

    /*---------- ROW 4 ----------*/
    
    .green-box {
        width: 600px;
        height: 50px;
        border: 2px solid white;
    }
    
    .orange-box {
        width: 600px;
        height: 50px;
        border: 2px solid white;
    }
}




@media only screen and (min-width: 769px) {
    .super-class {
        width: 1000px;
    }
    
    h1 {
        font-size: 40px;
    }
    /*---------- ROW 1 ----------*/
    
    .pink-box {
        width: 1000px;
        height: 150px;
    }
    
    /*---------- ROW 2 ----------*/
    
    .purple-box{
        display: inline-block;
        width: 250px;
        height: 150px;
    }
    
    /*---------- ROW 3 ----------*/
    
    .blue-box {
        display: inline-block;
        width: 500px;
        height: 150px;
    }

    /*---------- ROW 4 ----------*/
    
    .green-box {
        display: inline-block;
        width: 750px;
        height: 150px;
    }
    
    .orange-box {
        display: inline-block;
        width: 250px;
        height: 150px;
    }
}