* {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}
body {
    font-size: 20px;
}
.container {
    margin-left: 20px;
    margin-top: 20px;
    height: 375px;
    width: 280px;
}
.container input {
    border: 1px solid rgb(142, 142, 142);
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 200;
    background-color: rgb(224, 224, 224)
}

.row input {
    height: 55px;
    width: 70px;
}

#result {
    width: 280px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 20px
}

.oj input{
    background-color: rgb(234, 151, 72);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
    text-align: right;
}
