/*------------------------------------------*/
/*- BASIC SETUP -*/
/*------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #325050;
    font-family: font3;
    font-size: 70%;
}

@font-face {
    font-family: font1;
    src: url(/vendors/fonts/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2)
}

@font-face {
    font-family: font2;
    src: url(/vendors/fonts/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2)
}

@font-face {
    font-family: font3;
    src: url(/vendors/fonts/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2)
}

@font-face {
    font-family: font4;
    src: url(/vendors/fonts/verdemoderna.woff)
}

/*------------------------------------------*/
/*- BASIC SETUP -*/
/*------------------------------------------*/

header {
    height: 250px;
    background: #2d6360 50% 0 url(/resources/img/huntington.jpg) no-repeat;
    background-image: url(/resources/img/contours.png), url(/resources/img/noise.png), url(/resources/img/gridlines.png), url(/resources/img/huntington.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-size: auto, auto, auto, cover;
    background-repeat: repeat, repeat, repeat, no-repeat;
    text-align: center;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    padding: 20px 0 70px 0;
}

h1::before {
    display: block;
    width: 50px;
    height: 50px;
    left: 50%;
    margin: 0 0 0 -25px;
    padding: 0 0 35px 0;
    content: "";
    position: relative;
    top: 20px;
    background: url(/resources/img/enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h1 {
    font-family: font1;
    color: white;
    font-weight: 300;
}
header h2 {
    font-family: font2;
}