/*------------------------------------------*/
/*- BASIC SETUP -*/
/* Colors:
rgb(50, 80, 80);
rgb(45, 99, 96)
rgba(19, 67, 71, 0.9);

*/
/*------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #325050;
    font-family: font3;
    font-size: 70%;
    background: #fff;
}

@font-face {
    font-family: font1;
    src: url(/vendors/fonts/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2)
}

@font-face {
    font-family: font2;
    src: url(/vendors/fonts/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2)
}

@font-face {
    font-family: font3;
    src: url(/vendors/fonts/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2)
}

@font-face {
    font-family: font4;
    src: url(/vendors/fonts/verdemoderna.woff)
}

/*------------------------------------------*/
/*- REUSEABLE COMPONENTS -*/
/*------------------------------------------*/

.btn {
    background-color: rgba(255, 255, 255, 0.246);
    color: rgba(255, 255, 255, 0.65);
    border: none;
    transition: all .25s;
}


.btn:hover {
    background-color: rgba(255, 255, 255, 0.418);
}

.section-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 0;
}

.gems {
    display: none;
}

.gems a:before {
    font-family: font4;
    content: 'D';
    color: #a9b995;
    background-color: #d9e1cd;
    font-size: 16px;
    padding: 2px;
}
.gems a{
    text-decoration: none;
    color: #809b7e;
    font-weight: 100;
    transition: all .25s ease-out;
}

/* .gems a:hover {
    color: white;
    background-color: rgb(43, 126, 165);
    padding: 2px;
} */


/*------------------------------------------*/
/*- SECTION 1 -*/
/*------------------------------------------*/

header {
    height: 250px;
    background: url(/resources/img/contours-opaque.png), url(/resources/img/contours.png), url(/resources/img/gridlines-opaque.png),url(/resources/img/huntington.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: 0 0, 0 0, -5px -25px, 0 center;
    background-size: auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    text-align: center;
    border-top: 10px solid rgba(19, 67, 71, 0.9);
}

h1::before {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
    left: 50%;
    content: "";
    background-image: url(/resources/img/enso.svg);
    background-repeat: no-repeat;
    opacity: .6;
    background-size: 100%;
    transform: translateX(-50%);
    padding-bottom: 35px;
}

h1 {
    color: white;
    font-family: font1;
    font-weight: 300;
    font-size: 2em;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.3em;
    font-family: font2;
    color: rgba(255,255,255,0.6);
    font-weight: 200;
    padding-bottom: 30px;
}

.h3-first{
    margin-top: 0;
}

h3 {
    margin-top: 2em;
    font-size: 1.8em;
    font-weight: 300;
    font-family: font1;
}

p {
    font-size: 1.2em;
    line-height: 2;
    margin-top: .75em;
}

.main-buttons-wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.btn-main {
    width: 100%;
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 1px;
}
.full {
    display: none;
}

.btn-right-arrow,
.btn-left-arrow {
    font-size: 44px;
    height: 70px;
    width: 70px;
    font-family: font4;
}


/*------------------------------------------*/
/*- SECTION MIDDLE -*/
/*------------------------------------------*/

.section-middle {
    background: url(/resources/img/contours-opaque.png), url(/resources/img/gridlines-opaque.png), url(/resources/img/bamboo.png);
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-reapeat;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
}

/*------------------------------------------*/
/*- FOOTER -*/
/*------------------------------------------*/

.footer-content {
    background: #3e5d67;
    background-image: url(/resources/img/contours.png), url(/resources/img/gridlines.png), url(/resources/img/noise.png), url(/resources/img/koi.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    font-style: italic;
    text-align: center;
    font-size: 1.4em;
    padding: 1em 6%;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
}

.footer-content a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration:  none;
    font-style: normal;
}

.footer-links {
    padding: 2em 5%;
    background-color: #134347;
    color: white;
}

.footer-nav {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    list-style: none;
    display: flex;
    font-family: font4;
    font-weight: 100;
    justify-content: space-around;
    font-size: 32px;
}

.show a {
    color: rgba(255, 255, 255, 0.424);
    text-transform: lowercase;

}
.show a:hover{
    text-transform: uppercase;
}

.show1:before{
    content: '5';
}
.show2:before {
    content: '3';
}
.show1:hover:before {
    content: '%'
}
.show2:hover:before {
    content: '#'
}



/*------------------------------------------*/
/*- ASIDE TAG-*/
/*------------------------------------------*/

.aside-tag {
    background-color: rgba(138,188,159,0.5);
}

.aside-white{
    background-color: rgba(255, 255, 255, 0.712);
}

.aside-white span {
    font-style: italic;
    color: rgba(102, 131, 113, 0.438);
    font-size: .9em;
}

.aside-tag li {
    list-style: none;
    border-top: 1px solid #d9e3dc;
    padding: 1em 5%;
    color: rgba(255,255,255,0.6);
    font-size: 125%;
}
.aside-tag a:first-child {
    font-family: font1;
    font-size: 1.2em;
}
 .aside-tag a {
     color:  #607476;
     text-decoration: none;
     font-family: font3;
     font-size: .9em;
     margin-bottom: 0.25em;
 }

.aside-green {
    background-image: url(/resources/img/bamboo.png);
}

.aside-green li{
    border-top: 1px solid #a0b9ad;
}


